/backend/gateway.log
/backend/services/identity/.idea/.gitignore
/backend/services/identity/.idea/discord.xml
/backend/services/identity/.idea/go.imports.xml
/backend/services/identity/.idea/identity.iml
/backend/services/identity/.idea/misc.xml
/backend/services/identity/.idea/modules.xml
/backend/services/identity/.idea/vcs.xml
/backend/services/identity/src/middlewares/auth.js
/backend/services/identity/src/services/auth/internal/AuthServiceImpl.js
/backend/services/identity/src/services/auth/AuthServiceImpl.test.js
/backend/services/identity/src/util/crypto.js
/backend/services/identity/src/util/crypto.test.js
/backend/services/identity/drizzle.config.js
/backend/services/identity/src/util/env.js
/backend/services/identity/src/services/auth/IAuthService.js
/backend/services/identity/src/db/index.js
/backend/services/identity/src/graphql/index.js
/backend/services/identity/src/services/index.js
/backend/services/identity/src/index.js
/backend/services/identity/src/services/noti/INotiService.js
/backend/services/identity/src/util/jwe.js
/backend/services/identity/src/util/jwe.test.js
/backend/services/identity/src/util/jwt.js
/backend/services/identity/src/util/jwt.test.js
/backend/services/identity/src/services/noti/NotiServiceConsole.js
/.idea/inspectionProfiles/Project_Default.xml
/backend/services/identity/src/services/auth/internal/Queries.js
/backend/services/identity/src/routes/service-facing.js
/backend/services/identity/src/util/url.js
/backend/services/identity/src/routes/user-facing.js
/backend/services/identity/src/routes/user-facing.test.js
/backend/services/identity/src/db/schemas/users.js
